.products{
    display: flex;
}
.productcards{
    height: 30vh;
    width: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productcards img{
    z-index: -10;
}
.iconbox{
    display: flex;
    justify-content: space-between;
    padding:0 1rem;
}
.titlebox{
    padding: 0 1rem;
}
.cardcontent{
    position: absolute;
    bottom: 0;
}
