.cart {
  display: flex;
  flex-direction: row;
}
.productcards {
  height: 30vh;
  width: 20vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin: 5em 2em;
}
.cardimg {
  position: relative;
  height: 80%;
  width: 100%;
}
.cardinfo{
    padding: 2%;
}
.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quantity button {
  width: 1em;
}
.buttonbox{
    display: flex;
}
